<h1>Assalomu alaykum, {{name}}!</h1>
<p>Sizning tasdiqlash (OTP) kodingiz quyida:</p>
<h2 style="color:blue;">{{otp}}</h2>
<p>Iltimos, bu kodni 3-5 daqiqa ichida kiriting.</p>
<p>Agar bu siz bo‘lmasangiz, bu emailni e'tiborsiz qoldiring.</p>